<h1>BurgerMania</h1>

<img src="https://dynamic.brandcrowd.com/asset/logo/b3103307-4c32-4bff-bab3-0d842319af18/logo?v=4" id="image">

<container id="burgers">
  <container id="available">
    <h2>Available Burgers</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>
  </container>

  <container id="devoured">
    <h2>Devoured Burgers</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </container>
</container>



<container id="new">
  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <input type="text" id="bu" name="burger_name" placeholder="New burger name">
    </div>

    <div class="form-group">
      <label for="devoured">Available?</label><br>
      <input type="radio" name="devoured" value="1" checked> Nope<br>
      <input type="radio" name="devoured" value="0"> Yep
    </div>

    <button type="submit">Add Burger</button>
  </form>
</container>
